body {
    font-family: Arial, sans-serif;
    background-color: rgb(79, 91, 102);
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
    background-color: #2ecc71;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #27ae60;
}
