<!DOCTYPE html>
<html>
<head>
    <title>New Customer Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='customers.css') }}">
</head>
<body>
    <h1>New Customer Registration</h1>
    <form id="createForm" method="POST" action="/customers" onsubmit="errorMessage()">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br><br>
        
        <label for="payment_info">Payment Type:</label>
        <input type="text" id="payment_info" name="payment_info" required><br><br>
        
        <input type="submit" value="Create Account">
    </form>

    <script>
        var error = "{{ error_message }}";
        function errorMessage() {
            if (error.value > 0)
            {
                alert(error);
            } else {
                displayPopup();
            }
        }
        function displayPopup() {
            // Get the form input values
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var address = document.getElementById('address').value;
            var paymentInfo = document.getElementById('payment_info').value;

            // Create the popup message
            var message = "Name: " + name + "\n";
            message += "Email: " + email + "\n";
            message += "Address: " + address + "\n";
            message += "Payment Type: " + paymentInfo + "\n";

            // Display the popup
            alert("You have submitted the following information:\n\n" + message);
        }
    </script>
</body>
</html>
