<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='restaurants.css') }}">
    <h1>Restaurants</h1>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('home') }}">Home</a>
            </li>
        </ul>
    </nav>

</head>
<body>
    <ul id="restaurantList" class="restaurant-list">
        {% for restaurant in restaurants %}
        <li class="restaurant-item" onclick="viewMenu({{ restaurant[0] }})">
            <div>{{ restaurant[1] }}</div>
            <img class="restaurant-image" src="{{ url_for('static', filename='images/' + restaurant[1] + '.png') }}" alt="Restaurant Image">
        </li>
        {% endfor %}
    </ul>

    <script>
        function viewMenu(restaurantId) {
            window.location.href = "/menu/" + restaurantId;
        }
    </script>
</body>
</html>
